@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");
/*--------------------*/
/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  padding-top: 48px;
  background-image: url("../img/header/bg.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75vh;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  display: block;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 20px;
  border: 1px solid transparent;
}

.header__nav ul li a:hover {
  border-radius: 17px;
  border: 1px solid #ffffff;
}

.header__title {
  text-align: center;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  /* Text style for "We Are Cod" */
  letter-spacing: 7px;
}

.header__subtitle {
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* Text style for "A, t vero" */
  letter-spacing: 0.8px;
  max-width: 620px;
  margin: 0 auto;
}

.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__arrow-bg {
  width: 36px;
  height: 36px;
  background-color: #19bd9a;
  border-radius: 50%;
}

.header__arrow-bg img {
  top: 15px;
  left: 12px;
  position: relative;
}

.header__burger {
  display: none;
}

.header__menu {
  display: none;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    position: relative;
  }
  .header__burger-icon {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #fff;
  }
  .header__burger-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger-icon.header__burger-active {
    background-color: transparent;
  }
  .header__burger-icon.header__burger-active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
  }
  .header__burger-icon.header__burger-active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
  }
  .header__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 150px;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(213, 226, 233, 0.95);
    border-bottom-left-radius: 15px;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  .header__menu.header__menu-active {
    visibility: visible;
    right: 0;
  }
  .header__menu-item {
    display: block;
    padding: 12px 24px;
    color: #312f2f;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .header__menu-item:hover {
    background-color: #CFD8DC;
  }
}
