@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");
/*--------------------*/
/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/*  */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  text-align: center;
  color: #333b46;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "DetailS AB" */
  letter-spacing: 4px;
  padding: 0 15px 40px 15px;
}

.subtitle {
  text-align: center;
  max-width: 460px;
  margin: 0 auto;
  color: #81868e;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  /* Text style for "A, t vero" */
  letter-spacing: 0.7px;
  padding: 0 15px;
}

.header {
  padding-top: 48px;
  background-image: url("../img/header/bg.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  display: block;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 15px;
  border: 1px solid transparent;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: margin, padding;
  transition-property: margin, padding;
}

.header__nav ul li a:hover {
  margin: 0 5px;
  padding: 5px 20px;
  border-radius: 17px;
  border: 1px solid #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: border, margin, padding;
  transition-property: border, margin, padding;
}

.header__title {
  text-align: center;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  /* Text style for "We Are Cod" */
  letter-spacing: 7px;
  padding-bottom: 40px;
  -webkit-transition: padding-bottom, 0.2s;
  transition: padding-bottom, 0.2s;
}

.header__subtitle {
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* Text style for "A, t vero" */
  letter-spacing: 0.8px;
  max-width: 620px;
  margin: 0 auto;
}

.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-animation: arrow 1.5s infinite linear;
          animation: arrow 1.5s infinite linear;
  top: 0;
  left: 0;
  cursor: pointer;
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

.header__arrow-bg {
  width: 36px;
  height: 36px;
  background-color: #19bd9a;
  border-radius: 50%;
}

.header__arrow-bg img {
  top: 15px;
  left: 12px;
  position: relative;
}

.header__burger {
  display: none;
}

.header__menu {
  display: none;
}

@media (max-width: 768px) {
  .header__title {
    -webkit-transition: padding-bottom, 0.2s;
    transition: padding-bottom, 0.2s;
    padding-bottom: 15px;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    top: -5px;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    position: relative;
    cursor: pointer;
  }
  .header__burger-icon {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #fff;
  }
  .header__burger-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger-icon.header__burger-active {
    background-color: transparent;
  }
  .header__burger-icon.header__burger-active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
  }
  .header__burger-icon.header__burger-active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
  }
  .header__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 150px;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(213, 226, 233, 0.95);
    border-bottom-left-radius: 15px;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  .header__menu.header__menu-active {
    visibility: visible;
    right: 0;
  }
  .header__menu-item {
    display: block;
    padding: 12px 24px;
    color: #312f2f;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .header__menu-item:hover {
    background-color: #a2a9ac;
  }
}

.bouncy {
  padding: 80px 0 60px 0;
}

.bouncy__container {
  max-width: 880px;
  padding: 0 15px;
  margin: 0 auto;
}

.bouncy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bouncy__title {
  color: #333b46;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "This is Bo" */
  letter-spacing: 4px;
  padding: 34px 0 50px 0;
}

.bouncy__text {
  color: #81868e;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  /* Text style for "A, t vero" */
  letter-spacing: 0.7px;
  max-width: 470px;
  padding-bottom: 30px;
}

.bouncy__btn a {
  color: #333b46;
  font-size: 16px;
  font-weight: 400;
  border-radius: 19px;
  border: 1px solid #333b46;
  padding: 8px 22px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.bouncy__btn a:hover {
  -webkit-box-shadow: 0 0 2px;
          box-shadow: 0 0 2px;
  background-color: #d5f7f7;
}

@media (max-width: 768px) {
  .bouncy {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding: 40px 0 30px 0;
  }
  .bouncy__row {
    margin: 0 -20px;
  }
  .bouncy__body {
    padding: 0 20px;
  }
  .bouncy__img {
    padding: 0 20px;
  }
}

@media (max-width: 550px) {
  .bouncy__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bouncy__title {
    text-align: center;
  }
  .bouncy__btn {
    text-align: center;
  }
  .bouncy__img {
    padding: 30px 0 0 0;
    margin: 0 auto;
  }
}

.about {
  background-color: #f3f3f3;
  padding: 80px 0 100px 0;
}

.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__icon-bg {
  margin: 60px 27px 60px 0;
  width: 53px;
  height: 53px;
  background-color: #81868e;
  border-radius: 50%;
}

.about__icon-bg:last-child {
  margin: 60px 0 60px 0;
}

.about__icon-bg img {
  position: relative;
}

.about__icon-heart {
  top: 16px;
  left: 13px;
}

.about__icon-mouse {
  top: 9px;
  left: 18px;
}

.about__icon-lamp {
  top: 11px;
  left: 16px;
}

.about__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__title-text {
  color: #464646;
  font-size: 20px;
  font-weight: 400;
  /* Text style for "Creative I" */
  letter-spacing: 0.8px;
  padding-bottom: 20px;
}

.about__text {
  color: #81868e;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.about__text span {
  color: #19bd9a;
  font-weight: 700;
}

.about__text b {
  color: #636971;
  font-weight: 700;
}

.about__text-first {
  max-width: 325px;
  padding-top: 20px;
}

.about__text-second {
  max-width: 550px;
  padding-top: 20px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__title-text {
    text-align: center;
  }
  .about__text-first {
    max-width: 550px;
    margin: 0 auto;
  }
  .about__text-second {
    margin: 0 auto;
    padding-left: 0px;
  }
}
